
<section id="success">
<div id="topdiv">

<h1>Travel <span>Un</span>-safely</h1>
<div id="topbtns"><a id="toplairs" href="/lairs">Explore Locations</a>
  <a id="topsign" href="/users/signup">Sign Up</a>
</div>
</div>





{{#if errorMessage}}
    <div id="message"><p class="loginp">{{errorMessage}}</p></div>
{{/if}}




</section>



