<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/users/profile">User Profile</a><span> | </span>
      <a href="/lairs">Lairs</a><span> | </span>
      <a href="/users/login">Login</a><span> | </span>
      <a href="/users/signup">Signup </a><span> | </span>
       <a href="/users/logout">Log out </a>
      
    </nav>
    {{{body}}}
  </body>
</html>
