*{
  margin: 0;
  padding: 0;
}


a {
  
  text-decoration: none;
}

nav{
  background-color: #181823;
  border-bottom: 1px solid white;
  padding: 20px;
  
  font-family: 'Creepster', cursive;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

nav a{
  color:whitesmoke;
}

.navLink{
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #BD1616;
  
}




.navDiv{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 
}

.fontup{
  font-size: 18px;
  color: aliceblue;
}

.lairTitle{
  color: whitesmoke ;
  letter-spacing: 3px;
  font-size: 35px;
  margin-left: 10px;
}

.navImg{
  height: 75px;
  width: 75px;
}

.allDiv{
  height: 420px;
  width: 400px;
  background-color: #181D31;
  color: white;
  margin: 10px;
  font-family: 'Creepster', cursive;
  border-radius: 20px;
  margin-bottom: 30px;
}

.allDiv a{
  color: #BD1616;
}

.allFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allWords{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.allH2{
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
font-family: 'Creepster', cursive;
letter-spacing: 4px;
font-size: 30px;
color: white;
}



#allH3{
display: flex;
justify-content: center;
padding: 10px 0px 10px 0px;
font-size: 25px;

}



#lairPage{
  background-color:#181823!important;
  
}


.mainlairs {
  width: 400px;
height: 250px;
}

.specificPic{
  width: 500px;
  height: 500px;
}

#profile{
  background-color: #181823;
  height: 700px;
  color: aliceblue;
  font-family: 'Creepster', cursive;
letter-spacing: 6px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 900px;
}

#profilepic{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.profilediv{
  background-color: #393E46;
  color: white;
  margin: 30px;
 padding: 60px;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.info{
  margin-top: 20px;
}

.profileh2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
}

.profilediv button{
  margin-top: 45px ;
  padding: 10px;
  width: 100px;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  text-decoration: none;
}

#profilebtn{
  color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

#profilediv button:hover{
  background-color: aliceblue;
  color: black;
}

.editDiv{
  background-color: #393E46;
  color: white;
  margin: 30px;
 padding: 60px;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 
}

.flexform{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
}

.inputdiv{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.editbtn{
margin-top: 35px;
padding: 8px;
margin-left: 135px;
color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  text-decoration: none;
}

.editbtn:hover{
background-color: aliceblue;
color: black;
}

.loginpage{
  background-color: #181823;
 padding-top: 120px;
  align-items: center;
  height: 650px;
  font-family: 'Creepster', cursive;
  
 
}

.logindiv{
  border: 1px solid black;
  background-color: #393E46;
  color: whitesmoke;
  width: 400px;
  margin:auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;

 
}

.loginh2{
  margin-top: 40px;
  padding-bottom: 70px;
  font-size: 40px;
  letter-spacing: 6px;
}

.logindiv2{
  padding-bottom: 30px;
  font-size: 20px;
}

.loginp{
  margin-top: 30px;
  color: #BD1616;
  background-color: black;
  font-size: 20px;
}

.loginbtn{
  margin-top: 30px;
  padding: 8px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    text-decoration: none;
}


  
  .loginbtn:hover{
  background-color: aliceblue;
  color: black;
  }



  .emailinput{
    margin-left: 28px;
    height: 25px;
    border-radius: 5px;
  }

  .passwordinput{
    height: 25px;
    border-radius: 5px;
  }

footer{
display: flex;
justify-content: center;
align-items: center;
background: #181823;

height: 100px;
}
  
.github{
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  font-family: 'Creepster', cursive;
  letter-spacing: 6px;
}

.git{
    width: 30px;
    height: 30px;
    margin-right: 10px;

   
  }

 