*{
  margin: 0;
  padding: 0;
}


a {
  
  text-decoration: none;
}

nav{
  background-color: #181823;
  border-bottom: 1px solid white;
  padding: 20px;
  font-family: 'Creepster', cursive;
  display: flex;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  width: 100%;
}

nav a{
  color:whitesmoke;
}

nav a:hover {
  color: aliceblue;
}

nav a:last-child {
  margin-right:35px ;
}
.navLink{
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #BD1616;
  
}




.navDiv{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 
}

.fontup{
  font-size: 18px;
  color: aliceblue;
}

.lairTitle{
  color: whitesmoke ;
  letter-spacing: 3px;
  font-size: 35px;
  margin-left: 10px;
}

.navImg{
  height: 75px;
  width: 75px;
}

#searchimg{
  height:20px;
  width: 20px;
  margin-left: -27px;
  margin-bottom: -5px;
 
}

.allsearch{
  
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.searchbar{
  width: 250px;
  height: 15px;
  border-radius: 15px;
  padding: 5px;
}

.allDiv{
  height: 460px;
  width: 400px;
  background-color: #181D31;
  color: white;
  margin: 10px;
  font-family: 'Creepster', cursive;
  border-radius: 20px;
  margin-bottom: 30px;
}

.allDiv a{
  color: #BD1616;
}

.allFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allWords{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.allH2{
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
font-family: 'Creepster', cursive;
letter-spacing: 4px;
font-size: 30px;
color: white;
}



#allH3{
display: flex;
justify-content: center;
padding: 10px 0px 10px 0px;
font-size: 25px;

}



#lairPage{
  background-color:#181823!important;
  padding-top: 100px;
  min-height: 800px;
  
}

#lairPage a:hover{
font-size: 17px;
}


.mainlairs {
  width: 400px;
height: 250px;
}

.specificPic{
  width: 500px;
  height: 500px;
}

#lairdetail{
  padding-top: 100px;
  min-height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: #181823;
 font-family: 'Creepster', cursive; 
 padding-bottom: 50px;
 padding-top: 170px;
}

#lairdetail button{
  padding: 7px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  letter-spacing: 2px;
  border-style: none;
}


#lairdetail button:hover{
background-color: black;
color: aliceblue;
}


#lairdetail h3{
  padding-bottom: 50px;
  font-size: 35px;
}

#lairdetail p {
  font-size: 20px;
}

.detailprice{
  text-decoration: underline;
  font-size: 23px;
}


#profile{
  background-color: #181823;
  padding-top: 100px;
  height: 900px;
  color: aliceblue;
  font-family: 'Creepster', cursive;
letter-spacing: 6px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 900px;
}

#profilepic{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.profilediv{
  background-color: #393E46;
  color: white;
  margin: 30px;
 padding: 60px;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.info{
  margin-top: 20px;
}

.profileh2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
}

.profilediv button{
  margin-top: 45px ;
  padding: 10px;
  width: 100px;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  
  text-decoration: none;
}



#profile button:hover{
  background-color: aliceblue;
  color:black;
}





.editDiv{
  background-color: #393E46;
  color: white;
  margin: 30px;
 padding: 60px;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 
}

.flexform{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
}

.inputdiv{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.editbtn{
margin-top: 35px;
padding: 8px;
margin-left: 135px;
color: aliceblue;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  text-decoration: none;
}

.editbtn:hover{
background-color: aliceblue;
color: black;
}

#editdiv{
  display: flex;
  flex-direction: column;
}


.loginpage{
  background-color: #181823;
 padding-top: 120px;
  align-items: center;
  height:800px;
  font-family: 'Creepster', cursive;
  
 
}

.logindiv{
  border: 1px solid black;
  background-color: #393E46;
  color: whitesmoke;
  width: 400px;
  margin:auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  margin-top: 105px;

 
}

.loginh2{
  margin-top: 40px;
  padding-bottom: 70px;
  font-size: 40px;
  letter-spacing: 6px;
}

.logindiv2{
  padding-bottom: 30px;
  font-size: 20px;
}

.loginp{
  margin-top: 30px;
  color: #BD1616;
  background-color: black;
  font-size: 20px;
}

.loginbtn{
  margin-top: 30px;
  padding: 8px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    text-decoration: none;
}
 .emaildiv{
  margin-left: 32px;
 }

  
  .loginbtn:hover{
  background-color: aliceblue;
  color: black;
  }



  .emailinput{
    margin-left: 30px;
    height: 25px;
    border-radius: 5px;
  }

  .passwordinput{
    height: 25px;
    border-radius: 5px;
  }

  

#signup{
  min-height: 800px;
  padding-top: 120px;
  background-color: #181823;
}

#signup label{
  font-family: 'Creepster', cursive; 
  
}

#signup h2{
  font-family: 'Creepster', cursive; 
  font-size: 40px;
  letter-spacing: 6px;
  
}

#signup input{
  height: 25px;
    border-radius: 5px;
}

#signup input:nth-of-type(2) {
 padding: 10px;
}

#signup button{
  padding: 12px;
  color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    width: 125px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    text-decoration: none;
}

#signup button:hover{
  background-color: aliceblue;
  color: black;
}

#signupWrapper{
  margin-top: 50px;
}

#createlair{
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181823;
  font-family: 'Creepster', cursive; 
}

#createlair button{
  padding: 3px;
  width: 75px;
 background-color: aliceblue;
 border-radius: 10px;
 margin-left: 145px;
 margin-top: 7px;
}

#createlair h2{
  margin-top: 30px;
  font-size: 30px;
}

#createlair img{
  width: 85px;
  height: 100px;
  margin-top: 30px;
}

#createlair input{
 padding: 3px;
 border-radius: 10px;
 width: 250px;
}

#createlair label{
  font-size: 20px;
 }

#createlair p {
  text-align: center;
  margin-bottom: 10px;
}


.creatediv2{
  padding-top: 25px;
}

.creatediv{
  background-color: #181D31;
  margin-top: 225px;
  color: aliceblue;
height: 530px;
width: 750px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 20px;
}

#namediv{
  margin-left: 55px;
}

#pricediv {
margin-left: 37px;
}


#imgdiv{
  margin-left: 50px;
}

#imginput{
  border: 1px solid white;
  border-radius: 10px;
}

#deletecheck{
  padding-top: 100px;
}


#editlair{
padding-top: 100px;
min-height: 800px;
display: flex;
flex-direction: column;
align-items: center;

}

#editlair form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.editdiv1{
  display: flex;
  justify-content: center;
  align-items: center;
}

#laircheckout{
  padding-top: 100px;
  min-height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: #181823;
 font-family: 'Creepster', cursive; 
 padding-bottom: 50px;
 padding-top: 170px;
}

#laircheckout input{
  width: 43px;
  height: 25px;
  font-size: 18px;
  padding: 10px;
}

#success{
  padding-top: 100px;
  min-height: 800px;
}

footer{
display: flex;
justify-content: center;
align-items: center;
background: #181823;

height: 100px;
}

#charge{
  padding-top: 100px;
}
  
.github{
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  font-family: 'Creepster', cursive;
  letter-spacing: 6px;
}

.git{
    width: 30px;
    height: 30px;
    margin-right: 10px;

   
  }

 