<section id="createlair">
<div class="creatediv">
<h2>List a Lair</h2>
<img src="/images/pngaaa.com-2485316.png">

<form action="/lairs/create-lair" method="post" enctype="multipart/form-data">
<div class="creatediv2">
    <div id="namediv">
<label for="">Name: </label>
<input type="text" name="name">
</div>
</div>
<div class="creatediv2">
    <div id="descdiv">
<label for="">Description: </label>
<input type="text" name="description">
</div>
</div>
<div class="creatediv2">
    <div id="pricediv">
<label for="">Pricing: </label>
<input type="text" name="price">
</div>
</div>
<div class="creatediv2">
    <div id="imgdiv">
<label for="">Image: </label>
<input id="imginput" type="file" name="imageUrl">
</div>
</div>
<div class="creatediv2">
<button id="createsubmit" type="submit">Add Lair</button>
</div>

{{#if errorMessage}}
    <p class="loginp">{{errorMessage}}</p>
{{/if}}
</form>
</div>
</section>