<section id="editlair">
<h2>Edit Lair</h2>

<form action="/lairs/edit/{{_id}}" method="post">

<label for="">Name</label>
<input type="text" name="name" value="{{name}}">

<label for="">Image</label>
<input type="text" name="imageUrl" value="{{imageUrl}}">

<label for="">Description</label>
<input type="text" name="description" value="{{description}}">


<button type="submit">Edit Lair</button>

</form>
</section>