<section id="profile"><h2 class="profileh2">User Profile</h2>
<div class="profilediv">
<img id="profilepic" src="{{imageUrl}}">
<h3 class="info">Username:{{userName}}</h3>
<h3 class="info">Email: {{email}}</h3>
<h3 class="info">Password: ******</h3>
<a id= "profilebtn" href="/users/profile/edit"><button>Edit</button></a>
</div>




</section>